# Pastas e arquivos do Visual Studio
.vs/
bin/
obj/
*.user
*.suo

.env

# Logs
*.log

# Configurações do VS Code
.vscode/

# Node.js (se houver frontend)
node_modules/

# Arquivos temporários
*.tmp
*.cache